#corpo{
    background-image: linear-gradient(to bottom, #C2B8FF, #FFE3B8 90%);
}
#img{
    text-align: center;
}

section{
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px
}
section{
    color: grey;
    font-style: italic;
    position: relative;
}

.container-fluid{
    padding-top: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -350px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255,70%);
    border-radius: 2%;
    position: relative;
}

.centralizar {
    text-align: center;
}
.container{
    text-align: center;
 }
footer{
    background: #C2B8FF;
    color: #8F8F8F;
    position: relative;
}
